<h2>About Me</h2>
<div>
    <p style="text-align:center; padding:0px 40px">A Results-driven Data Engineer with a strong foundation in data architecture, ETL processes, data streaming, and predictive analytics. Has experience in designing, building, operationalizing, and monitoring production data pipelines, emphasizing scalability and performance. Skilled in leveraging machine learning models to derive actionable insights from large datasets using tools like Python, SQL, Spark, and cloud-based platforms to optimize data workflows and drive data-driven decision-making.  </p>
</div>
        <div class="github-stats">
      <img class="git_stats" alt="Github statistics" src="https://github-readme-stats.vercel.app/api?username={{site.github_username}}&show_icons=true&theme=default">
      <img alt="Most used languages on github" src="https://github-readme-stats.vercel.app/api/top-langs/?username={{site.github_username}}&langs_count=3">
      </div>
