<h2>About Me</h2>
<div>
    <p style="text-align:center; padding:0px 40px">An analytically minded Data Engineer with experience and expertise in Data Integration and Analysis, Relational Database Management, Cloud Technologies, Software Development, Information Security, Audit and Assurance. Has vast knowledge of data analytics, orchestration and ETL tools such as ACL, SQL, Tableau, PowerBI, Nifi and Informatica PowerCenter. Result Oriented Professional and a Valued Team Player who is diligent, detail oriented and self-motivated. Recognized for great leadership and excellent problem-solving skills, fostering effective relationships with clients, and partnering with internal and external stakeholders to attain set goals.  An AWS Certified Cloud Practitioner (CCP), Certified Information Systems Auditor (CISA) and Certified Information Security Manager (CISM).  </p>
</div>
        <div class="github-stats">
      <img class="git_stats" alt="Github statistics" src="https://github-readme-stats.vercel.app/api?username={{site.github_username}}&show_icons=true&theme=default">
      <img alt="Most used languages on github" src="https://github-readme-stats.vercel.app/api/top-langs/?username={{site.github_username}}&langs_count=3">
      </div>
